<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet"
href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootst
rap.min.css" />
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script
src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd
/popper.min.js"></script>
<script
src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstra
p.min.js"></script>
</head>
<body>
<div class="container">
<div class="card">
<div class="card-header bg-primary text-white
text-center">
<h2>WRONG ACCESS TYPE!!</h2>
</div>
<div class="card-body">
<img th:src="@{/images/error-500_cd3e64.png}"
width="160" height="50" />
<b>HYDERABAD(M): 040-23746666 (M): 9000
994 007 / 8</b>
<br/> <br/>Goto <a th:href="@{/employee/all}"> 
<img th:src="@{/images/error-500_cd3e64.png}"
width="20" height="25"/> 
</a>
</div>
</div>
</div>
</body>
</html>
