
<html xmlns:th="https://www.thymeleaf.org/">
<head>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/boot
strap.min.css" />
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js">
</script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/u
md/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootst
rap.min.js"></script>
</head>
<body>
	<!-- Menubar start -->
	<nav class="navbar navbar-expand-lg navbar-light bg-info">
		<a class="navbar-brand text-white" href="#">EMPLOYEE APP</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarSupportedContent"
			ariacontrols="navbarSupportedContent" aria-expanded="false"
			arialabel="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">

				<li class="nav-item"><a class="nav-link text-white"
					th:href="@{/employee/register}">REGISTER</a></li>
				<li class="nav-item"><a class="nav-link text-white"
					th:href="@{/employee/all}">VIEW ALL</a></li>
			</ul>
		</div>
	</nav>
	<!-- Menubar end -->
	<div class="container">
		<div class="card">
			<div class="card-header bg-primary text-white text-center">
				<h2>EMPLOYEE DATA PAGE</h2>
			</div>
			<div class="card-body">
				<!-- <a
th:href="@{/employee/register}" class="btn btn-success"> >> ADD
EMPLOYEE >> </a> -->
				<table class="table table-hover">
					<tr class="bg-info text-
white">
						<th>ID</th>
						<th>NAME</th>
						<th>SAL</th>
						<th>DEPT</th>
						<th>ADDR</th>
						<th>HRA</th>
						<th>TA</th>
						<th>OPERATIONS</th>
					</tr>
					<tr th:each="ob:${list}">
						<td th:text="${ob.empId}"></td>
						<td th:text="${ob.empName}"></td>
						<td th:text="${ob.empSal}"></td>
						<td th:text="${ob.empDept}"></td>
						<td th:text="${ob.empAddr}"></td>
						<td th:text="${ob.emphra}"></td>
						<td th:text="${ob.empta}"></td>
						<td><a th:href="@{/employee/delete(id=${ob.empId})}"
							class="btn btn-danger"> DELETE </a> | <a
							th:href="@{/employee/edit(id=${ob.empId})}"
							class="btn btn-success"> EDIT </a></td>
					</tr>
				</table>
			</div>
			<div th:if="${msg!=null}" class="card-footer
bg-info text-white">
				<span th:text="${msg}"></span>
			</div>
		</div>
		<nav aria-label="Page navigation example">
			<ul class="pagination justify-content-center">
				<li class="page-item"><a th:if="${!page.isFirst()}"
					class="page-link" th:href="@{/employee/all(page=0)}">First</a></li>
				<li class="page-item"><a th:if="${page.hasPrevious()}"
					class="page-link" th:href="@{/employee/all(page=${page.number-1})}">Previous</a>
				</li>

				<th:block th:each="i:${#numbers.sequence(0,page.totalPages-1)}">
					<li class="page-item"><a class="page-link"
						th:href="@{/employee/all(page=${i})}">[[${i+1}]]</a></li>
				</th:block>

				<li class="page-item"><a th:if="${page.hasNext()}"
					class="page-link" th:href="@{/employee/all(page=${page.number+1})}">Next</a>
				</li>
				<li class="page-item"><a th:if="${!page.isLast()}"
					class="page-link"
					th:href="@{/employee/all(page=${page.totalPages-1})}">Last</a></li>
			</ul>
		</nav>
	</div>
</body>
</html>
----------------
